<main>
    <section>
	<article>
	    <table>
		<caption>Current Players</caption>
		<thead>
		    <tr>
			<th>Player ID</th>
			<th>User Name</th>
			<th>Session ID</th>
			<th>Character</th>
		    </tr>
		</thead>
	    </table>
	</article>
    </section>

</main>
