<main>
    <section>
	<article>
	    <table>
		<caption>Characters and Items with quantity</caption>
		<thead>
		    <tr>
			<th>Character ID</th>
			<th>Item ID</th>
			<th>Quantity</th>
		    </tr>
		</thead>
	    </table>
	</article>
    </section>

</main>
