<main>
    <section>
	<article>
	    <table>
		<caption>Characters</caption>
		<thead>
		    <tr>
			<th>Character ID</th>
			<th>Player ID</th>
			<th>Name of Character</th>
			<th>Level</th>
            <th>Experience</th>
            <th>Agility</th>
            <th>Strength</th>
            <th>Magic</th>
            <th>Health</th>
		    </tr>
		</thead>
	    </table>
	</article>
    </section>

</main>
