<div class="container">
	<div class="row">
		<div class="col citation-img text-center">
			<img src="/images/noun-server.png"/>
			<a href="/sessions" class="btn btn-info">SessionsDB</a>
			<p>Information about our currently running game sessions</p>
		</div>
		<div class="col citation-img text-center">
			<img src="/images/noun-team.png"/>
			<a href="/players" class="btn btn-info">PlayersDB</a>
			<p>Information about our users</p>
		</div>
		<div class="col citation-img text-center">
			<img src="/images/noun-character.png"/>
			<a href="/characters" class="btn btn-info">CharactersDB</a>
			<p>Information about characters created by our users</p>
		</div>
		<div class="col citation-img text-center">
			<img src="/images/noun-item.png"/>
			<a href="/items" class="btn btn-info">ItemsDB</a>
			<p>An inventory of available in-game items<p>
		</div>
		<div class="col citation-img text-center">
			<img src="/images/noun-inventory.png"/>
			<a href="/character_items" class="btn btn-info">CharacterItemsDB</a>
			<p>An inventory of items held by characters<p>
		</div>
</div>
	<p class="footnote">Images were obtained via a purchased license from <a target="_blank" href="https://thenounproject.com">The Noun Project</a>. This license grants perpetual, non-exclusive, worldwide rights to unlimited use of the licensed image, as covered by the Noun Project's <a href="https://www.thenounproject.com/legal" target="_blank">Terms of Use.</a></p>
</div>
