<main>
    <section>
	<article>
	    <table>
		<caption>Items</caption>
		<thead>
		    <tr>
			<th>Item ID</th>
			<th>Description</th>
			<th>Type</th>
			<th>Stat</th>
		    </tr>
		</thead>
	    </table>
	</article>
    </section>

</main>