{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th><a href="">New</a></th>
			<th></th>
			<th>ItemID</th>
			<th>Description</th>
			<th>Type</th>
			<th>Stat</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td><a href="">Edit</a></td>
			<td><a href="">Delete</a></td>
			<td>{{this.item_id}}</td>
			<td>{{this.item_desc}}</td>
			<td>{{this.item_type}}</td>
			<td>{{this.item_stat}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>

