{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th><a href="#add-entity-form">New</a></th>
			<th></th>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}	
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td class="edit-link">Edit</a></td>
			<td class="delete-link" onclick="deletePlayer({{this.player_id}})">Delete</td>
			<td>Player Id</td>
			<td>Username</td>
			<td>Session Id</td>
		</tr>
    {{/each}}
	</tbody>
</table>

