{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th class="new-link" onclick="showAddForm()">New</th>
			<th></th>
			<th>Session ID</th>
			<th>Start Time</th>
			<th>Number of Players</th>
			<th>Map Location</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td></td>
			<td></td>
			<td>{{this.session_id}}</td>
			<td>{{this.start_time}}</td>
			<td>{{this.num_players}}</td>
			<td>{{this.map_location}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>
<div class="form-btn-container">
  <button class="toggle" onclick="toggleAddForm()">Show/Hide Add Form</button>
</div>
<div class="form-container">
  <form class="add-entity-form hidden" id="add-session-form">
    <fieldset>
      <legend>Add a Session</legend>
	<label for="input-map-location">Map Location: </label>
	<input type="text" name="input-map-location" id="input-map-location">
	<input type="submit">
    </fieldset>
  </form>
</div>
<script src="./js/sessions/add_session.js"></script>
<script src="./js/buttons.js"></script>
