<main>
    <section>
	<article>
		<table>
		<caption>Sessions</caption>
		<thead>
		    <tr>
			<th>Session ID</th>
			<th>Start Time</th>
			<th>Number of Players</th>
			<th>Map Location</th>
		    </tr>
		</thead>
	    </table>
	</article>
    </section>

</main>
