{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th><a href="">New</a></th>
			<th></th>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}	
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td><a href="">Edit</a></td>
			<td><a href="">Delete</a></td>
			<td>Ssession Id</td>
			<td>Start Time</td>
			<td>Number of Players</td>
			<td>Map Location</td>
		</tr>
    {{/each}}
	</tbody>
</table>
