{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th><a href="">New</a></th>
			<th></th>
			<th>Session ID</th>
			<th>Start Time</th>
			<th>Number of Players</th>
			<th>Map Location</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td><a href="">Edit</a></td>
			<td><a href="">Delete</a></td>
			<td>{{this.session_id}}</td>
			<td>{{this.start_time}}</td>
			<td>{{this.num_players}}</td>
			<td>{{this.map_location}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>
<div class="form-btn-container">
</div>
<div class="form-container">
  <form>
    <fieldset>
      <legend>Add a Session</legend>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <legend>Update a Session</legend>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <legend>Search by Map Location</legend>
    </fieldset>
  </form>
</div>
